<div class="mat-elevation-z8">

  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row._id}}</td>
    </ng-container>

    <!-- surveyTitle Column -->
    <ng-container matColumnDef="surveyTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>survey Title</th>
      <td mat-cell *matCellDef="let row">{{row.surveyTitle}}</td>
    </ng-container>

    <!-- surveyAuthor Column -->
    <ng-container matColumnDef="surveyAuthor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>survey Author</th>
      <td mat-cell *matCellDef="let row">{{row.surveyAuthor}}</td>
    </ng-container>
    <!-- surveyFrom Column -->
    <ng-container matColumnDef="surveyFrom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>survey From</th>
      <td mat-cell *matCellDef="let row">{{ row.surveyFrom | date:'short'}}</td>
    </ng-container>
    <!-- surveyTill Column -->
    <ng-container matColumnDef="surveyTill">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>survey Till</th>
      <td mat-cell *matCellDef="let row">{{row.surveyTill | date:'short'}}</td>
    </ng-container>
    <!-- surveyAuthor Column -->
    <ng-container matColumnDef="createDateAndTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>create Date And Time</th>
      <td mat-cell *matCellDef="let row">{{row.createDateAndTime | date:'short'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]=             "dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 2, 15]">
  </mat-paginator>
</div>

