<div class="container">
  <div>
    <br />
    <h1 style="color: rgb(28, 13, 95);">
      Contact Information:
    </h1>

    <br />

    <h4 style="color: rgb(75, 22, 110);">Toll-Free Number</h4>
    1-888-888-8888
    <br /><br />
    <h4 style="color: rgb(75, 22, 110);">
      Email us with following informations-<br />
    </h4>
    <table>
      <tr>
        <td width="200" height="50">First Name :</td>
        <td><input name="firstName" /></td>
      </tr>
      <tr>
        <td width="200" height="50">Last Name :</td>
        <td><input name="lastName" /></td>
      </tr>
      <tr>
        <td width="200" height="50">Contact Number :</td>
        <td><input name="contactNum" /></td>
      </tr>
      <tr>
        <td width="200" height="50">Email Address :</td>
        <td><input name="email" /></td>
      </tr>
      <tr>
        <td width="200" height="50">Message :</td>
        <td><textarea name="message" width="200" height="200"></textarea></td>
      </tr>
      <tr>
        <td width="200" height="50">
          <input type="submit" class="btn btn-success" value="Submit" />
        </td>
        <td width="200" height="50">
          <a routerLink="/contact" class="btn btn-primary">Cancel</a>
        </td>
      </tr>
    </table>
  </div>
</div>
